.roow {
  display: flex;
  flex-wrap: wrap; 
  padding-left: 50px;
  padding-right: 50px;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
  margin-bottom: 100px;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.checkoutcard {
  background-color: rgb(172 161 157 / 38%);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#egyptcheckoutcard {
  background-color: rgb(198 161 130 / 38%);

}

input[type=teext] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

/* Greek checkout button */

.checkoutbtn {
  background-color: rgb(172, 161, 157);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkoutbtn:hover {
  background-color: rgb(70 67 65);
}

/* Egypt checkout button */

.checkoutbtnE {
  background-color: rgb(198, 161, 130);;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkoutbtnE:hover {
  background-color: rgb(80 63 47);
}



#product {
  color: rgb(70 67 65);
}

#delivery {
  color:  rgb(70 67 65 / 58%);
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

b {
  color:black
}

.fa-user-circle {
  background: none;
  padding: 0px;
}
.fa-envelope {
  background: none;
  padding: 0px;
}
.fa-address-card-o {
  background: none;
  padding: 0px;
}
.fa-institution {
  background: none;
  padding: 0px;
}
.fa-cc-visa {
  background: none;
  padding: 0px;
  color:navy;
}
.fa-cc-amex {
  background: none;
  padding: 0px;
  color:blue;
}
.fa-cc-mastercard {
  background: none;
  padding: 0px;
  color:red;
}
.fa-cc-discover {
  background: none;
  padding: 0px;
  color:orange;
}




/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}