.resultcard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 100px;
	justify-content: space-between;
	margin-top: 1px;


}

.resultcard img {
	width: 248px;
    height: 168px;
    margin: 40px;
    padding: 2px;
    background: rgb(197, 191, 186);
    margin-bottom: auto;
}

#egyptresultcard img{
	background: rgb(192, 157, 123);
}

/* name of Egypt bracelets*/
.braceletname {
  text-align: center;
}

/* name of Greek rings*/
.ringname {
  text-align: center;
}


